

@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Montserrat:wght@100;200;400;500;700&family=Open+Sans&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
}

.btn{
    background-color: #688B58;
    border-color: #688B58;
}

.top{
    width: 100%; 
    height: 350px;
    object-fit: cover;
    }

.galerie,.galerie2,.galerie3 {
    width: 300px; 
    height: 300px;
    object-fit: cover ;
    }
.contenant,.contenant2,.contenant3{
    position: relative;
    overflow: hidden;
    
}
.promotion {
    position: absolute;
    width:180px;
    left: 180px;
    transform: rotate(45deg);
    top: 30px;
    color: #273C31;
    border: solid 1px;
    background-color: #F5E4ED;
    font-size: 20px;
    font-weight: bold;
}
p{
    font-size: 18px;
}
strong{
    font-weight: bold;
}
.accordion-button:focus{
    color:#273C31;
    box-shadow: #F5E4ED;
} 
/* .accordion-button::after{
    width: 500px;
    height: 25px;
}  */
.accordion-button:not(.collapsed) {
    color: #273C31;
    border-color: #F5E4ED;
    background-color: #F5E4ED;
}
.accordion-item{
    display: flex;
    justify-content: center;

} 
.strong{
    margin-right: 3px;
}
.accordion-header{
    color: #688B58;
}
.accordion-button:focus{
    box-shadow: 0 0 0 0.25rem rgba(227, 184, 223, 0.25);

}button>strong{
    color: #688B58;
    font-size: 20px;
}
.accordion-body{
    font-size: 18px;
}
.accordion{
    margin-top: 40px;
}

