@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Montserrat:wght@100;400;700&family=Square+Peg&family=Titillium+Web:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}


/* &&&&&&&&&&&&&&&&&&&&&& ACCUEIL &&&&&&&&&&&&&&&&&&&&&& */

/* Haut de page */

.nav ul li {
    padding-top: 20px;
    list-style: none;
    font-family:'Montserrat';
    font-size: 20px;
    font-weight: 700;
    list-style: none;
    text-decoration: none;
    color: #000;
    text-shadow: 0px 0px 5px #e0e0e0;
}

ul{
    padding-left: 120px;
    display: flex;
    justify-content: space-around;
}    

/* hover effet écrasement */
li:hover{
    transform: scale(0.5, 0.5);
    color: grey;
}

/*  pour mettre image sur tte la page accueil */
.bgAc{
    background-image: url("../img/fondAccueilV2.png");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;
}

.containerAcc{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
}

.left{
    font-family: 'Square Peg', 'cursive';
    font-size: 80px;
    font-weight: 700;
    color: #F9B43B;
}

.right{
    font-family:'Montserrat';
    font-size: 35px;
    font-weight: 700;
    color: #30A3F1;
}

.bas{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Montserrat';
    font-size: 30px;
    font-weight: 700;
    
}

#job{
    margin-top: 30px;
    text-shadow: 0px 0px 5px #e0e0e0;
}
/*&&&&&&&&&&&&&&&&&&&&&& COMPETENCES &&&&&&&&&&&&&&&&&&&&&&&&&&& */

/* GRIS */
.front{
    background-color: #2E2E2E;
    color: #F9B43B;
    height: 100vh;
    width: 50vw;
}

/* JAUNE */
.design{
    background-color: #F9B43B; 
    height: 100vh;
    width: 50vw;
}

#doubTwo{
    color: #F9B43B;
}

span{
    font-family:'Josefin Sans','Titillium Web';
    color: #2E2E2E;
}

.progress{
    width: 45%;
}


/* &&&&&&&&&&&&&&&&&&&&&&&&&& A PROPOS &&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

/* barre de nav texte position absolue */
nav{
    position: absolute;
}

.h2Side{
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    transform: rotate(-45deg);
    padding-top: 70px;
    padding-bottom: 70px;
}

.coordonnées{
    display: flex;
    justify-content: space-around;
}

.topPart{
    display: flex;
}
.sideNavTop{
    background-color:#F9B43B;
    height: 50vh;
    width: 150px;
}

.sideNavBottom{
    background-color:#2E2E2E;
    height: 50vh;
    width: 150px;
}

.navSide{
    color: #000;
    font-family: 'Montserrat';
    font-weight: 700;
    margin-top:80px;
}

/* Div grise partie haute de la page */

.topApropos{
    display: flex;
    flex-direction: column;
    background-color:#2E2E2E;
    color: #F9B43B;
    height: 50vh;
    width: 100%;
}
.intro{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.txtAP{
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    margin-left: 200px;
    width: 800px;
}
/* icones en haut */
i{padding: 10px;
}

.workLinks{
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

/* partie basse de la page */

.bottomPart{
    display: flex;
}
.bottomApropos{
    background-color: #F9B43B;
    height: 50vh;
    width: 100%;
}
.carousel{
    margin-top: 30px;
    margin-left: 100px;
    max-width: 300px;
}