@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Montserrat:wght@100;400;700&family=Square+Peg&family=Titillium+Web:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@100;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    text-shadow: 2px 2px 0px#2E2E2E;
    color: #e0e0e0;
}

img{
    max-height: 300px;
}


/* changer le curseur quand action */
li , .divDip, .divXp {
    cursor:pointer;
}

/* scroll bar custom pour chrome etc... */
body::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
    }

body::-webkit-scrollbar-track {
    background: #F9B43B; /* color of the tracking area */
    }

body::-webkit-scrollbar-thumb {
    background-color: #2E2E2E; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid #F9B43B; /* creates padding around scroll thumb */
    }

/*  Custom scroll pour Fire fox */

    * {
        scrollbar-width: thin;
        scrollbar-color: #2E2E2E #F9B43B;
    }



/* &&&&&&&&&&&&&&&&&&&&&& ACCUEIL &&&&&&&&&&&&&&&&&&&&&& */
.containerXp{
    display: flex;
    flex-direction: column;
}
/* Haut de page */

.menu , menuItem , .hamburger {
    display: none;
}

.nav ul li {
    padding: 20px 145px 0px 0px;
    list-style: none;
    font-family:'Lexend Mega', sans-serif;
    font-size: 20px;
    font-weight: 700;
    list-style: none;
    color: #2E2E2E;
}

ul{
    padding-left: 120px;
    display: flex;
    justify-content: space-around;
}    

/* hover effet souligné*/

a:hover{
    color: #fff;
}

a::after {
    content: "";
    display: block;
    height: 0.25em;
    width: 0%;
    margin-bottom: 9px;
    background-color: #fff;
    transition: width 0.4s;
}

a:hover::after {
    width: 100%;
}

/*  pour mettre image sur tte la page accueil */
.bgAc{
    background-image: url("../img/Fond\ vide.png");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;
}

.me{
    margin: 82px 47px 0px 0px;
    position: absolute;
    height: 80vh;
    width: 100%;
    background-image: url("../img/me.png");
    background-position: center;
    background-repeat: no-repeat;
    transition: margin-top 1s ease-in-out 0s;
    
}

.containerAcc{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
}

.burgerAcc, .crossAcc {
    display: none;
}

.left{
    font-family: 'Square Peg', 'cursive';
    font-size: 80px;
    font-weight: 700;
    color: #2E2E2E;
}

.right{
    font-family:'Lexend Mega', sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #F9B43B;
}

.bas{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Lexend Mega', sans-serif;
    font-size: 30px;
    font-weight: 700;
    
}

#job{
    margin-top: 30px;
    margin-left:50px;
    color:#F9B43B;
    /* text-shadow: 2px 2px 0px#2E2E2E; */
    border-radius: 15px;
    font-size: 20px;
}


/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& CONTACT &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

.footerContact{
    height: 60vh;
    width: 100;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #2E2E2E;
    border-top: solid 2px #F9B43B;
    border-bottom: solid 2px #F9B43B;
}

label{
    margin: 10px;
}

input{
    margin: 10px;
}
.cv{
    margin: 10px 0px 50px 0px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Lexend Mega', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #F9B43B;
}

.yellow{
    margin-bottom: 2vh;
}

.contact{
    margin: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    font-family:'Lexend Mega', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #F9B43B;
}

textarea{
    margin: 10px;
    height: 5vh;
    width: 30vw;
    color:  #2E2E2E;
}

input{
    height: 5vh;
    width: 30vw;
    color:  #2E2E2E;
}
.valid{
    text-align: center;
    font-family:'Lexend Mega', sans-serif;
    font-size: 15px;
    font-weight: 700;
    height: 5vh;
    width: 20vw;
    padding: 5px;
    padding-top: 20px;
    border: solid 2px #F9B43B;
    background-color: #2E2E2E;
    border-radius: 10px;
    color:  #F9B43B;
}

.mail{
    padding-top: 0px;
}

/*&&&&&&&&&&&&&&&&&&&&&& COMPETENCES &&&&&&&&&&&&&&&&&&&&&&&&&&& */

.title{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family:'Lexend Mega', sans-serif;
    font-size: 12px;

}
#compet{
    color: #F9B43B; 
    font-family:'Lexend Mega', sans-serif;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    margin: 16vh 0vh 0vh 87vh;
}

span{
    font-family: 'Square Peg', 'cursive';
    font-size: 40px;
    font-weight: 700;
    color: #2E2E2E;
}
.containerCompTop , .ul .li {
    position: absolute;
    display: flex;
    padding-left: 10vw;
    font-size: 20px;
    list-style: none;
    font-family:'Lexend Mega', sans-serif;
    font-weight: 700;
    list-style: none;
    color: #2E2E2E;
    
}

li{
    padding: 2vh 5vw 0px 5vw;
}
/* 
.progress {
    width: 80%;
    
} */
.frontC{
    height: 5rem;
    max-width: 5vw;
    margin: 10px;
}

.frontC:hover{
    transform: scale(2, 2);
    
}

.frontComp, .designComp, .designCompBis {
    display: flex;
    max-width: 50vw;
    
}

.fa-solid, .fas {
    font-size : 50px;
}

.containerComp{
    display: flex;
}

.greyLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    padding: 0px 20px 0px 120px;
    height: 100vh;
    width:100vw;
    background-color: #2E2E2E;
    color: #F9B43B;
}

.language{
    padding-right: 14vh;
    text-align: center;
    margin-top: 10vh;
}

.infor{
    padding-right: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 10vh;
}
.office{
    
    display: flex;
    justify-content: center;
}
.YellRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    padding: 135px 20px 0px 120px;
    height: 100vh;
    width:100vw;
    background-color: #F9B43B;
}
.lex{
        padding-top: 11vh;
    padding-left: 160px;
    font-family:'Lexend Mega', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #F9B43B; 
}
.square{
    padding-left: 178px;
    font-family: 'Square Peg', 'cursive';
    font-size: 80px;
    font-weight: 700;
    color: #2E2E2E;
}


/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&& DIPLOMES XP &&&&&&&&&&&&&&&&&&&&&& */


.containerXp{
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2E2E2E;
    height: 100vh;
    width: 100vw;
    font-family:'Lexend Mega', sans-serif;
}

/* barre de nav */
.topXp{
    display: flex;
}

.navigXp{
    font-family:'Lexend Mega', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding-top: 20px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    background-color: #2E2E2E;
    
}

/* mid page */
.midXp{
    height: 80vh;
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F9B43B;
    margin-bottom: 80px;
}

.imgOne, .imgTwo , .imgTree , .imgFour , .imgFive, .imgSix ,.imgSeven, .imgEight , .imgNine{
    display: none;
}

.imgFive, .imgSix , .imgSeven, .imgEight {
    padding-top: 20vh ;
    padding-left: 2vw;
    color: #2E2E2E;
}

.divDip{
    display: flex;
    flex-direction: column;
    text-align: end;
}
.dateDip{
    display: flex;
    flex-direction: column;
    padding: 10px 0px 10px 0px;
}
.diplomes{
    padding-bottom: 20px;
}

.divXp{
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-bottom: 30px;
}
.experiences{
    padding-bottom: 20px;
}
.datesXp{
    display: flex;
    flex-direction: column;
    padding: 10px 0px 10px 0px;
}
.divIn{
    height: 60vh;
    width: 50vh;
    overflow: hidden;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&&& A PROPOS &&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

/* barre de nav texte position absolue */
nav{
    position: absolute;
}

h2{
    padding-bottom: 30px;
    font-family:'Lexend Mega', sans-serif;
    font-size: 20px;
}

.h2Side{
    color: #fff;
    list-style: none;
    text-decoration: none;
    font-family: 'Lexend Mega', sans-serif;
    font-size: 20px;
    font-weight: 700;
    transform: rotate(-45deg);
    padding-top: 70px;
    padding-bottom: 70px;
}
.topPart{
    display: flex;
}
.sideNavTop{
    background-color:#F9B43B;
    height: 50vh;
    width: 150px;
}
.sideNavBottom{
    background-color:#2E2E2E;
    height: 50vh;
    width: 150px;
}
.navSide{
    color: #2E2E2E;
    text-shadow: #F9B43B 1px 1px 1px;
    margin-top:80px;
}

/* Div grise partie haute de la page */
.topPart{
    background-color:#2E2E2E;
}
.topApropos{
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    color: #F9B43B;
    height: 50vh;
    width: 100%;
}
.intro{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 50px;
}
.txtAP{
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    margin-left: 200px;
    width: 800px;
}
/* icones en haut */

i{
    text-shadow: none;
    padding: 10px;
}

.workLinks{
    text-decoration: none;
    color: #F9B43B;
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

/* partie basse de la page */

.bottomPart{
    display: flex;
}
.bottomApropos{
    display: flex;
    justify-content: space-evenly;
    background-color: #F9B43B;
    height: 50vh;
    width: 100%;
}

.leftApropos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 10vw;
}
.underC {
    display: flex;
}

p{
    font-family:'Lexend Mega', sans-serif;
    font-size: 15px;
    padding-left: 2vw;
}
.illu{
    padding-top: 15px;
    padding-left: 6.5vw;
}
.like{
    padding-left: 2vh;
}
.pasQue{
    padding-top: 40vh;
}
.carousel{
    margin-left: 100px;
    max-width: 250px;
}

.fa-instagram{
    color: #2E2E2E;
    font-size: 30px;
}


.rightApropos{
    display: flex; 
    font-size: 30px;      
}

.divRandom{
    margin-top: 20px;
    height: 40vh;
    width: 19vw;
    border: solid 5px #2E2E2E;
    border-radius: 50%;        
}
/* ICONES HOBBIES */
.fa-music{
    font-size: 30px;
    position: absolute;
    padding: 80px 0px 0px 20px;
}
.fa-screwdriver-wrench{
    font-size: 30px;
    position: absolute;
    padding: 80px 0px 0px 230px;
}
.fa-person-biking{
    font-size: 30px;
    position: absolute;
    padding: 240px 0px 0px 125px;
}
.fa-person-swimming{
    font-size: 30px;
    position: absolute;
    padding: 100px 0px 0px 170px;
}
.fa-video{
    font-size: 30px;
    position: absolute;
    padding: 100px 0px 0px 80px;
}
.fa-film{
    font-size: 30px;
    position: absolute;
    padding: 180px 0px 0px 210px;
}
.fa-atom{
    font-size: 30px;
    position: absolute;
    padding: 10px 0px 0px 125px;
}
.fa-palette{
    font-size: 30px;
    position: absolute;
    padding: 180px 0px 0px 40px;
}
.fa-gamepad{
    font-size: 30px;
    position: absolute;
    padding: 170px 0px 0px 120px;
    
}
.fa-dice-d20 {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-3px, 6px, 6px);
    }

    20%, 80% {
        transform: translate3d(6px, -9px, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-9px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(12px, 0, 0);
    }
}

.divRandom{
    animation: rotate 30s linear infinite; 
}
@keyframes rotate{
    to{ transform: rotate(360deg); }
}
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& MODE PHONE &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */


@media screen and (max-width: 768px) {


    /* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&  MENU BURGER &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
    
    .menuItem {
        display: block;
        margin: 1rem 2rem;
        font-size: 1.8rem;
        color: white;
        text-decoration: none;
    }
    
    .hamburger{
        display: block;
        position: fixed;
        z-index: 100;
        top: 1rem;
        right: 1rem;
        padding: 4px;
        border: black solid 1px;
        background:#2E2E2E;
        color: #F9B43B;
        font-size: 30px;
        cursor: pointer;
    }
    
    .closeIcon{
        display: none;
    }
    
    .menu{
        display: block;
        position: fixed;
        transform: translateY(-100%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: black;
        color: white;
        list-style: none;
        padding-top: 4rem;
    }
    
    .showMenu {
        transform: translateY(0);
    }

    /* &&&&&&&&&&&&&&&&&&&&&&&&& ACCUEIL  MODE MOBILE &&&&&&&&&&&&&&&&&&&&& */
    
    li { 
        font-size: 25px;
        list-style: none;
        text-decoration: none;
        color: #e0e0e0;
        padding: 50px;
    }

    ul{
        padding-left: 0px;
        flex-direction: column;
        align-items: flex-start;
    }


    .right, .left {
        padding-bottom: 20vh;
    }

    .right{
        padding-left: 35px;
        font-size: 25px;
    }

    .left{
        padding-left: 35px;
        font-size: 50px;
    }

    .nav{
        display: none ;
    }

    .containerAcc{
        margin-top: 0vh;
        height: 60vh;
        
    }

    .me{
        display: none;
    }
    .lilMe{
        position: absolute;
        background-image: url("../img/lilme.png");
        background-position: center;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
        margin-top: 44vh;
    }
    


    #job{
        position: absolue;
        margin-top: 150px;
        text-align: center;
        font-size: 20px;
        color:#F9B43B;
    }
    

    .footerContact{
        flex-direction: column;
        height: 90vh;
    }

    .cv{
        margin: 10px 0px 10px 0px;
        font-size: 10px;
    }

    label{
        font-size: 15px;
    }
    .contact{
        height: 20vh;
        background-color: #2E2E2E;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0px;
        height: 45vh;
        width: 70%;
    }

    input, textarea{
        
        font-size: 13px;
        width: 80vw;
    }

    .valid{
        padding-bottom: 40px;
        width: 40vw;
    }

    .mail{
        padding-top: 20px;
    }
    /* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&  COMPETENCES MODE MOBILE  &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
    h2{
        font-size: 15px;
    }
    #compet{
        display: none;
    }
    
    .title{
        font-size: 0px;
    }

    .frontC{
        height: 3rem;
        max-width: 18vw;
        margin: 2px;
    }
    
    .frontC:hover{
        transform: scale(2, 2);
    }
    
    .frontComp, .designComp{
        display: flex;
        max-width: 50vw;
    }
    
    .fa-solid, .fas {
        font-size : 40px;
    }
    
    .containerComp{
        display: flex;
        flex-direction: column;
    }

    .greyLeft{
        text-align: center;
        padding: 0px 20px 0px 20px;
        height: 70vh;
        
    }

    .YellRight{
        text-align: center;
        padding: 0px 20px 0px 20px;
        height: 80vh;
    }
    
    .lex{
        padding-left: 0px;
        font-size: 20px;
    }

    .infor{
        padding-right: 0px;
        padding-bottom: 10px;
    }

    .language{
        padding: 50px 0px 10px 0px;
        
        
    }
    .square{
        padding-left: 0px;
        font-size: 40px;
    }

    .containerCompTop{
        display: none;
    }


    /* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& A PROPOS MODE MOBILE &&&&&&&&&&&&&&&&&&&&&&&&& */

    .sideNavTop , .sideNavBottom , .navSide{
        display: none;
    }

    .topPart{
        height: 70vh;
        width: 100vw;
    }
    
    .intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        height: 50vh;
        padding: 0px 0px 0px 0px ;
        margin: 0px 0px 0px 0px ;
    }

    .txtAP {
        margin-top: 30vh;
        margin-left : 0px;
        justify-content: center;
        font-size: 10px;
        text-align: center;
        width: 80vw;
    }

    p{
        font-size: 11px;
        padding-left: 0vw;
    }

    .workLinks {
        font-size: 30px;
        flex-direction: row;
        
    }

    /* partie jaune */
    #carouselExampleIndicators{
        margin: 0 0 0 0
    }

    .bottomPart{
        height: 50vh;
        width: 100vw;
    }
    .bottomApropos{
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
    }
    .leftApropos{
        padding-right: 0vw;
    }
    .rightApropos {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .divRandom{
        margin:0px 0px 0px 0px; 
        height: 25vh;
        width: 45vw;
    }
    .fa-instagram{
        font-size: 30px;
        text-shadow: none;
    }

    .pasQue{
        padding-top: 10px;
    }

    /* icones Hobbies */
    .fa-music{
        font-size: 20px;
        position: absolute;
        padding: 25px 0px 0px 10px;
    }

    .fa-screwdriver-wrench{
        font-size: 20px;
        position: absolute;
        padding: 40px 0px 0px 115px;
    }
    .fa-person-biking{
        font-size: 20px;
        position: absolute;
        padding: 120px 0px 0px 62.5px;
    }
    .fa-person-swimming{
        font-size: 20px;
        position: absolute;
        padding: 50px 0px 0px 85px;
    }
    .fa-video{
        font-size: 20px;
        position: absolute;
        padding: 50px 0px 0px 40px;
    }
    .fa-film{
        font-size: 20px;
        position: absolute;
        padding: 90px 0px 0px 105px;
    }
    .fa-atom{
        font-size: 20px;
        position: absolute;
        padding: 5px 0px 0px 62.5px;
    }
    .fa-palette{
        font-size: 20px;
        position: absolute;
        padding: 90px 0px 0px 20px;
    }
    .fa-gamepad{
        font-size: 20px;
        position: absolute;
        padding: 85px 0px 0px 60px;
        
    }

    /* &&&&&&&&&&&&&&&&&&&&&&&&&&&& DIPLOMES XP MODE MOBILE &&&&&&&&&&&&&&&&&&&&&&&&&& */
    .containerXp{
        display: flex;
        flex-direction: column;
    }
    .topXp{
        display: none;
    }
    .divDip, .divXp{
        text-align: center;
    }
    
    .midXp {
        height: 39vh;
        width: 90vw;
        margin-bottom: 30vh;
        font-size: 20px;
    }
    .divIn{
        position: absolute;
        margin-top: 70vh;
        height: 40vh;
        width: 50vw;
        height: 50vh;
        width: 80vw;
        font-size: 20px;
    }
    .divDip {
        padding-bottom: 9vh;
    }
    .diplomes {
        padding-bottom: 9px;
    }
    
    .imgFive, .imgSix , .imgSeven, .imgEight {
        padding-top: 20vh ;
        padding-left: 2vw;
        color: #fff;
    }
}